<h1 class="sub-title text-center">About us</h1>
<div class="container mt-5">
    <div class="row">
        <figure class="col text-center">
            <img src="https://i.ibb.co/vqtpMHr/logo.png" alt="logo" class="img-fluid">
        </figure>
        <div class="col">
            <h5 class="text-center sub-title">MOVE AND GROOVE</h5>
            <h6 class="text-justify text-white">Our company is dedicated to help people schedule their workout and outdoor activities since 2020. We believe that technologies should be used to help us improving our daily routine.</h6>
            <h6 class="text-justify text-white"> Here, you can create your personal account, add your activities, keep track of them in a few seconds. </h6>
        </div>
    </div>
</div>

